body {
    background-image: linear-gradient(0deg, #000000bc, #1161c348), url('../assets/img/business-tower.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.account-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    color: #fff;
}

.account-details {
    border: dashed #fff 1px;
    padding: 50px;
}

#main-btn {
    background-color:  #1161c3;
    border: 2px #fff solid;
    border-radius: 5px;
    padding: 40px;
    margin-top: 20px;
    width: auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    width: 30%;
}

#main-btn:hover {
    background-color: #fff;
    border: 2px #1d0f0f solid;
    color: #000;
}